extends layouts/main.pug

block contents
    form(action="/users/join" method="post")
        input(type="text" name="name" required placeholder="your name")
        input(type="email" name="email" required placeholder="your email")
        input(type="password" name="password" required placeholder="enter a password")
        input(type="password" name="password2" required placeholder="verify a password")
        input(type="submit" value="JOIN")