extends layouts/main.pug

block contents
    form(action="/users/login" method="post")
        input(type="text" name="name" required placeholder="your name")
        input(type="password" name="password" required placeholder="enter a password")
        input(type="submit" value="LOGIN")
    a(href="/users/github/start") Continue with GITHUB