extends layouts/main.pug
include mixins/videoBlock

block contents
    .videoSearch
        each video in videos
            +videoBlock({
                title : video.title,
                description : video.description,
                genres : video.genres,
                id : video._id,
                fileUrl : video.fileUrl
            })